# remove the following ignores for your project
/config/pimcore/constants.php

# symfony default
/.web-server-pid
/config/pimcore/parameters.yml
/build/
/phpunit.xml
/public/bundles/

# local config
/.env
/.env.local
/.env.local.php
/.env.*.local
!/config/local
/config/local/*
!config/local/.gitkeep
/cache
/var/cache
/var/*
!/var/.gitkeep
!/var/classes/
/var/classes/DataObject

!/var/config
/var/config/system.yml
/var/config/maintenance.php

# project specific recommendations
/var/config/tag-manager.php
/var/config/reports.php


/public/var/
/public/sitemap*.xml

# PHP-CS-Fixer
/.php-cs-fixer.php
/.php-cs-fixer.cache

# composer
/vendor/

# PhpStorm / IDEA
.idea
# NetBeans
nbproject

# temp
.temp
/var/classes/fieldcollections/aktivingredients.php
/var/classes/fieldcollections/answerOptions.php
/var/classes/fieldcollections/banners3.php
/var/classes/fieldcollections/FilterCategory.php
/var/classes/fieldcollections/FilterCategoryMultiselect.php
/var/classes/fieldcollections/FilterInputfield.php
/var/classes/fieldcollections/FilterMultiRelation.php
/var/classes/fieldcollections/FilterMultiSelect.php
/var/classes/fieldcollections/FilterMultiSelectFromMultiSelect.php
/var/classes/fieldcollections/FilterNumberRange.php
/var/classes/fieldcollections/FilterNumberRangeSelection.php
/var/classes/fieldcollections/FilterRelation.php
/var/classes/fieldcollections/FilterSelect.php
/var/classes/fieldcollections/FilterSelectClsStoreAttributes.php
/var/classes/fieldcollections/FilterSelectFromMultiSelect.php
/var/classes/fieldcollections/from0to499UAH.php
/var/classes/fieldcollections/from500to1499UAH.php
/var/classes/fieldcollections/from1500UAH.php
/var/classes/fieldcollections/Notcatalogrecipe.php
/var/classes/fieldcollections/OrderByFields.php
/var/classes/fieldcollections/OrderPriceModifications.php
/var/classes/fieldcollections/outputActive.php
/var/classes/fieldcollections/passiveOutput.php
/var/classes/fieldcollections/PaymentInfo.php
/var/classes/fieldcollections/Pecipecollection.php
/var/classes/fieldcollections/PricingRule.php
/var/classes/fieldcollections/Productsets.php
/var/classes/fieldcollections/questionnaires.php
/var/classes/fieldcollections/Recipecontent.php
/var/classes/fieldcollections/SimilarityField.php
/var/classes/fieldcollections/TaxEntry.php
/var/classes/fieldcollections/VoucherTokenTypePattern.php
/var/classes/fieldcollections/VoucherTokenTypeSingle.php
/var/classes/objectbricks/alcoholAttributes.php
/var/classes/objectbricks/banner3category.php
/var/classes/objectbricks/banner3link.php
/var/classes/objectbricks/banner3manufacturer.php
/var/classes/objectbricks/banner3products.php
/var/classes/objectbricks/banner3subcategory.php
/var/classes/objectbricks/cosmetic.php
/var/classes/objectbricks/homeAndDecor.php
/var/classes/objectbricks/nutrition.php
/var/classes/objectbricks/supplements.php
/var/classes/definition_Banners.php
/var/classes/definition_Brand.php
/var/classes/definition_Category.php
/var/classes/definition_Color.php
/var/classes/definition_Components.php
/var/classes/definition_Country.php
/var/classes/definition_CustomerSegment.php
/var/classes/definition_CustomerSegmentGroup.php
/var/classes/definition_Effects.php
/var/classes/definition_Effectshair.php
/var/classes/definition_FilterDefinition.php
/var/classes/definition_Flavor.php
/var/classes/definition_Hairtype.php
/var/classes/definition_Handletype.php
/var/classes/definition_Infoblocks.php
/var/classes/definition_LinkActivityDefinition.php
/var/classes/definition_Manufacturer.php
/var/classes/definition_Material.php
/var/classes/definition_MeasureUnit.php
/var/classes/definition_NomClass1.php
/var/classes/definition_NomClass2.php
/var/classes/definition_NomClass3.php
/var/classes/definition_NomClass4.php
/var/classes/definition_OfferToolCustomProduct.php
/var/classes/definition_OfferToolOffer.php
/var/classes/definition_OfferToolOfferItem.php
/var/classes/definition_OnlineShopOrder.php
/var/classes/definition_OnlineShopOrderItem.php
/var/classes/definition_OnlineShopTaxClass.php
/var/classes/definition_OnlineShopVoucherSeries.php
/var/classes/definition_OnlineShopVoucherToken.php
/var/classes/definition_Product.php
/var/classes/definition_ProductClassificator.php
/var/classes/definition_Productline.php
/var/classes/definition_Questionnaire.php
/var/classes/definition_Recipe.php
/var/classes/definition_Rootcategorys.php
/var/classes/definition_SabotageCatalog.php
/var/classes/definition_SabotageCategory.php
/var/classes/definition_SearchSynonyms.php
/var/classes/definition_Size.php
/var/classes/definition_Skincondition.php
/var/classes/definition_Skintype.php
/var/classes/definition_Steelhardness.php
/var/classes/definition_Subcategory.php
/var/classes/definition_Supplement.php
/var/classes/definition_Tagsrecipe.php
/var/classes/definition_TermSegmentBuilderDefinition.php
/var/classes/definition_Texture.php
/var/classes/definition_Tips.php
/var/classes/definition_TypeProduct.php
/var/classes/definition_Using.php
/var/classes/definition_Variant.php
/var/classes/definition_VariantNomClass1.php
/var/classes/definition_VariantNomClass2.php
/var/classes/definition_VariantNomClass3.php
/var/classes/definition_VariantNomClass4.php
/var/classes/definition_VariantTypeProduct.php
/var/classes/definition_Winecomposition.php
/var/config/data_hub/addproduct.yaml
/var/config/data_hub/catalog.yaml
/var/config/data_hub/countries.yaml
/var/config/data_hub/descriptions.yaml
/var/config/data_hub/productClassificatorListing.yaml
/var/config/data_hub/receipt.yaml
/var/config/data_hub/sabotage.yaml
/var/config/data_hub/TestDemo.yaml
/var/config/portal/dashboards_2.psf
/var/config/system_settings/system_settings.yaml
/var/config/web-to-print/web_to_print.yaml
/supervisord.pid
